CMakeCache.txt
CMakeFiles
cmake_install.cmake
Testing
Makefile
*.a
*.so
docs/html/
src/x0d
src/x0/x0d
src/x0/sysconfig.h
tests/x0test
core
core.*
vgcore.*
access.log
error.log
environ
experimental
*.cpp.*
*.hpp.*
t1.cpp
t2.cpp
