/build
/.kdev4
/3rdparty/gtest-1.7.0
/sandbox/
/build-aux/

/*.patch

/core
/core.*
vgcore.*
access.log
error.log
environ
experimental
*.pch
*~

/docs/x0d.8
/docs/x0d.conf.5
/docs/flow.7

# CTags file
tags

# cscope files
cscope.*

# debian packaging temp files
debian/*.substvars
debian/*.debhelper
debian/libxzero-base/
debian/libxzero-flow/
debian/libxzero-http/
debian/libxzero-base-dev/
debian/libxzero-flow-dev/
debian/libxzero-http-dev/
debian/x0-plugins/
debian/x0d/
debian/x0/
debian/tmp/
debian/files
*-stamp
/3rdparty/libflow/tests/libflow-test

# autotools
Makefile.in
/ar-lib
/aclocal.m4
/compile
/autom4te.cache
/configure
/install-sh
/missing
/depcomp
/src/xzero/sysconfig.h.in
/src/xzero-flow/sysconfig.h.in
