CMakeCache.txt
CMakeFiles
cmake_install.cmake
Testing
Makefile
*.a
*.so
*~
*.dylib
.swp
.*.swp
*.pid
.directory
.kdev4/
build/
test.crt
test.key
install_manifest.txt
certtool.cfg
docs/html/

*.ll
*.s
*.flow

include/base/sysconfig.h
tests/libbase-test
examples/tcp-echo-server
examples/tcp-echo-server-splice
core
core.*
vgcore.*
environ
experimental
*.cpp.*
*.hpp.*

libbase.pc

lib/libbase.so.*

# CTags file
tags

# cscope files
cscope.*

# debian packaging temp files
debian/*.substvars
debian/*.debhelper
debian/libbase/
debian/libbase-dev/
debian/tmp/
debian/files
*-stamp
