Source: x0
Section: httpd
Priority: optional
Maintainer: Christian Parpart <trapni@gmail.com>
Build-Depends:
  debhelper (>= 9),
  automake,
  autoconf,
  g++-4.8,
  pkg-config,
  libssl-dev,
  libmysqlclient-dev,
  zlib1g-dev,
  libbz2-dev,
  libpcre3-dev,
  libfcgi-dev,
Standards-Version: 3.9.3

Package: x0d
Architecture: any
Section: httpd
Priority: optional
Description: Xzero HTTP Web Server (x0d)
  HTTP web server.
Homepage: http://xzero.io/
Recommends:
  idn
Depends: ${shlibs:Depends}, ${misc:Depends}, mime-support,
  libssl1.0.0,
  libpcre3,
  zlib1g
