#! /usr/bin/make -f
# vim:syntax=make

export DH_VERBOSE=1

CXXFLAGS += -DNDEBUG=1 -DNDEBUG=1
CXXFLAGS += -g

configure: configure-stamp
configure-stamp:
	cmake \
		-DCMAKE_BUILD_TYPE=release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DSYSCONFDIR=/etc/xzero \
		-DINCLUDEDIR=/usr/include \
		-DLIBDIR=/usr/lib \
		-DPLUGINDIR=/usr/lib/xzero \
		-DLOGDIR=/var/log/xzero \
		-DX0_TMPDIR=/var/run/xzero \
		\
		-DCMAKE_CXX_COMPILER=/usr/bin/g++-4.8 \
		-DCMAKE_C_COMPILER=/usr/bin/gcc-4.8 \
		\
		-DENABLE_TESTS=OFF \
		-DENABLE_EXAMPLES=OFF \
		-DENABLE_FLOW_TOOL=OFF \
		-DENABLE_PLUGIN_WEBDAV=OFF \
		-DENABLE_PLUGIN_RRD=OFF \
		-DENABLE_PLUGIN_IMAGEABLE=OFF \
		-DENABLE_PLUGIN_DEBUG=OFF \
		-DENABLE_PLUGIN_SSL=ON \
		\
		-DENABLE_ACCEPT4=ON \
		-DENABLE_PCRE=ON \
		-DENABLE_MYSQL=ON \
		-DENABLE_TCP_DEFER_ACCEPT=ON \
		\
		-DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
		-DCMAKE_C_FLAGS="$(CFLAGS)" \
		-DCMAKE_VERBOSE_MAKEFILE=OFF
	touch $@

# XXX we disabled some plugins (rrd, iamgeable, webdav, ...) as they're not meant for release yet

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch $@

install: install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/etc/init
	mkdir -p $(CURDIR)/debian/tmp/etc/default
	mkdir -p $(CURDIR)/debian/tmp/var/log/xzero
	mkdir -p $(CURDIR)/debian/tmp/var/run/xzero
	mkdir -p $(CURDIR)/debian/tmp/etc/bash_completion.d
	cp -p $(CURDIR)/contrib/x0d.bash-completion.sh $(CURDIR)/debian/tmp/etc/bash_completion.d/x0d
	cp -p $(CURDIR)/debian/x0d.upstart $(CURDIR)/debian/tmp/etc/init/x0d.conf
	cp -p ${CURDIR}/debian/x0d.upstart-default ${CURDIR}/debian/tmp/etc/default/x0d
	touch $@

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

clean:
	dh_testdir
	dh_testroot
	dh_clean
	#dh_auto_clean

%:
	dh $@

.PHONY: configure build binary-indep binary-arch binary install clean
